.container {
    display: flex;
    border: solid 1px rgb(245, 89, 89);
    flex-wrap: wrap;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.box {
    border: solid 1px green;
    margin: 20px;
}